# Environnement virtuel
venv/

# Variables d'environnement (contient les mots de passe)
.env

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de données locale
*.sqlite3

# Fichiers uploadés
media/

# VSCode
.vscode/

# Fichiers système Windows
Thumbs.db
desktop.ini
# Fichiers de test
*.bpmn
*.xyz
test_*.pdf
test_*.csv
test_*.docx
manuel_procedures.pdf
rapport_audit_5.pdf
template_processintelligence.csv


# Fichiers de test générés localement
*.bpmn
*.xyz
test_*.pdf
test_*.csv
test_*.docx
manuel_procedures.pdf
rapport_audit_5.pdf
template_processintelligence.csv

